<div class="tab_header" [ngStyle]="{'top' : hideHeader}">Gestion des offres</div>
<div *ngIf="ifHasConnection" class="freedrinkstab" [ngStyle]="{'top' : hideSubHeader}">
  <div (click)="tous()" [ngStyle]="{'color' : activeColor1}">Tous</div>
  <div (click)="valide()" [ngStyle]="{'color' : activeColor2}">Validée</div>
  <div (click)="nonvalide()" [ngStyle]="{'color' : activeColor3}">Non-validée</div>
  <span class="outline_bar" [ngStyle]="{'transform' : tabPosition, 'left' : leftPosition}"></span>
</div>

<!-- Custom Refresher Start -->
<div class="cpr_frontdrop" [ngStyle]="{'display' : popFD}"></div>
<div class="cp_refresher_wrapper" [ngClass]="{double_header : ifHasConnection}" [ngStyle]="{'transform' : posY, 'transition' : animDur}">
  <div class="custom_pull_refresher"><img src="../../assets/img/custom_pull_refresher_arrow.svg" [ngStyle]="{'animation' : rotate}"></div>
</div>
<!-- Custom Refresher End -->

<ion-content [ngStyle]="{'opacity' : mainOpac}" [forceOverscroll]="false" *ngIf="ifHasConnection" color="secondary" class="mainContent" [scrollEvents]="true" (ionScroll)="scrollEvent($event)" (touchmove)="pull($event)" (touchstart)="pullstart($event)" (touchend)="endpull()">
  
  <p *ngIf="padDeDonee" class="pasDeDonnee"><ion-icon name="information-circle"></ion-icon>&nbsp;&nbsp;Aucune offre</p>

  <ion-list>
    <ion-item-sliding *ngFor="let off of filteredOffres; let i = index" #slidingItem>
      <ion-item lines="none" no-padding>
        <div class="content">
            <h1>{{off.OFF_DESCRIPTION}}</h1>
            <h2>Bar:&nbsp;&nbsp;{{off.ENT_NOM}}</h2>
            <h3>Date&nbsp;debut:&nbsp;&nbsp;{{off.startFR}}</h3>
            <h3>Date&nbsp;fin:&nbsp;&nbsp;{{off.endFR}}</h3>
            <span class="validspan" *ngIf="off.OFF_ACTIF === 'Oui'">Validée</span>
            <span class="notvalidspan" *ngIf="off.OFF_ACTIF === 'Non'">Non-validée</span>
        </div>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option  (click)="deleteOffer(slidingItem,off.OFF_ID,off.OFF_DESCRIPTION)" class="deleteOpt"><ion-icon name="trash"></ion-icon></ion-item-option>
        <ion-item-option (click)="makeValid(slidingItem,off.OFF_ID,off.OFF_DESCRIPTION,off.OFF_ACTIF)" class="validateOpt">
          <ion-icon *ngIf="off.OFF_ACTIF === 'Non'" name="checkmark-circle"></ion-icon>
          <ion-icon *ngIf="off.OFF_ACTIF === 'Oui'" name="close-circle" class="invalid"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-content [ngStyle]="{'opacity' : mainOpac}" [forceOverscroll]="false" *ngIf="!ifHasConnection" color="secondary" class="mainContent noConnContent" [scrollEvents]="true" (ionScroll)="scrollEvent($event)" (touchmove)="pull($event)" (touchstart)="pullstart($event)" (touchend)="endpull()">
    <div class="no_connection">
    <img src="../../assets/img/no_connection.svg">
    <h1>Veuillez vous assurer que votre appareil est connecté au réseau.</h1>
  </div>
</ion-content>
