<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="qrcode">
        <ion-icon name="qr-scanner"></ion-icon>
        <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bar">
      <ion-icon src="../../assets/img/bars_icon.svg"></ion-icon>
      <ion-label>Bar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offers-management">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Offres</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
