<div class="fade_curtain" [ngStyle]="{'opacity' : curtain_fade, 'display' : curtain_hide}"></div>

<div class="tab_header"><div class="ville" (click)="openSelect()">Genève&nbsp;&nbsp;<ion-icon name="arrow-dropdown"></ion-icon></div> Profil<span (click)="logoutFromApp()"><ion-icon name="log-out"></ion-icon></span></div>

<!-- Custom modals -->
<!-- Backdrop -->
<div class="custom_backdrop" id="bckdrop" (click)="closeModal()"></div>

<!-- Parrainage/Partage modal -->
<div class="parrainage_modal" id="pm">
  <header id="pm_header_text"></header>
  <section>
    <div id="pm_body_text"></div>
    <ion-button expand="block" id="pm_copy_btn" (click)="copyMyCode()">Copier votre code</ion-button>
  </section>
  <footer>
    <span id="pm_btn_text" (click)="shareCode(loggedUser.Roles_ROL_ID)"></span>
    <span (click)="closeModal()">Annuler</span>
  </footer>
</div>

<!-- Save Code modal -->
<div class="save_code_modal" id="scm">
  <header>Collez le code en cliquant sur le bouton "Coller le code" puis appuyez sur le bouton "Confirmer".</header>
  <section>
    <div>
      <p>VOTRE CODE</p>
      <h1>{{the_pasted_code}}</h1>
    </div>
    <ion-button expand="block" (click)="pasteTheCode(loggedUser.INT_ID)">Coller le code</ion-button>
  </section>
  <footer>
    <span (click)="saveCode(loggedUser.INT_CODE, loggedUser.INT_ID)">Confirmer</span>
    <span (click)="closeModal()">Annuler</span>
  </footer>
</div>



<!-- Custom Refresher Start -->
<div class="cpr_frontdrop" [ngStyle]="{'display' : popFD}"></div>
<div class="cp_refresher_wrapper" [ngStyle]="{'transform' : posY, 'transition' : animDur}">
  <div class="custom_pull_refresher"><img src="../../assets/img/custom_pull_refresher_arrow.svg" [ngStyle]="{'animation' : rotate}"></div>
</div>

<ion-content [ngStyle]="{'opacity' : mainOpac}" [forceOverscroll]="false" *ngIf="ifHasConnection" color="secondary" class="mainContent" [scrollEvents]="true" (ionScroll)="scrollEvent($event)" (touchmove)="pull($event)" (touchstart)="pullstart($event)" (touchend)="endpull()">
    <div class="inner_content_wrapper">
    <div class="upper_content">
        <div class="upper_content_over">
            <div class="profile_pic_frame_bg" (click)="changerPhoto(loggedUser.INT_EMAIL)">
                <div class="profile_pic_frame">
                  <img class="profpic" [src]="profilePic">
                  <img class="defpic" [src]="defaultPic">
                </div>
            </div>
            <div class="user_info_sect">
                <h1>{{loggedUser.INT_PRENOM}}</h1>
                <h2>{{loggedUser.INT_EMAIL}}</h2>
                <p>Membre {{dateInscription}}</p>
                <div class="niveau" *ngIf="loggedUser.Roles_ROL_ID!==2" (click)="parrainageInfo()">{{loggedUser.INT_LEVEL}}&nbsp;&nbsp;<ion-icon name="information-circle-outline"></ion-icon></div>
                <div class="partenaire" *ngIf="loggedUser.Roles_ROL_ID===2"><ion-icon name="contacts"></ion-icon>Partenaire</div>
            </div>
        </div>
        <div class="upper_content_below">
            <div *ngIf="loggedUser.Roles_ROL_ID!=2" class="shareCode" (click)="toSponsor(loggedUser.INT_CODE)">Parrainer</div>
            <div *ngIf="loggedUser.Roles_ROL_ID!=2" class="saveCode" (click)="getSponsored(loggedUser.INT_CODE, loggedUser.INT_ID)">As-tu&nbsp;un&nbsp;code&nbsp;?</div>
            <div *ngIf="loggedUser.Roles_ROL_ID==2" class="shareApp" (click)="toShare()">Partager&nbsp;Drinks&nbsp;Up</div>
          </div>
    </div>
    <div class="lower_content">

      <div class="btns_col ripple_effect" *ngIf="loggedUser.Roles_ROL_ID==2" (click)="proprioBar()">
        <div class="bg_round">
          <div class="img_wrapper">
              <img src="../../assets/img/profil_proprio_icon-05.svg">
          </div>
        </div>
        <p>Propriétaire de bar</p>
      </div>

      <div class="btns_col ripple_effect" *ngIf="loggedUser.Roles_ROL_ID==4" (click)="vip()">
        <div class="bg_round">
          <div class="img_wrapper">
              <img src="../../assets/img/profil_vip_icon-05.svg">
          </div>
        </div>
        <p>V.I.P</p>
      </div>

      <div class="btns_col ripple_effect" (click)="monAbonnementDetail(loggedUser.INT_ID, abonneDetail.ABO_TYPE, abonneDetail.ABO_DATEDEBUT, abonneDetail.ABO_DATEFIN)" *ngIf="loggedUser.Roles_ROL_ID==3 && paidUser =='good'">
        <div class="bg_round">
          <div class="img_wrapper">
              <img src="../../assets/img/profil_abonne_icon-01.svg">
          </div>
        </div>
        <p>Mon abonnement</p>
      </div>

      <div class="btns_col ripple_effect" (click)="goAbonnement()" *ngIf="loggedUser.Roles_ROL_ID==3 && paidUser !='good'">
          <div class="bg_round">
            <div class="img_wrapper">
                <img src="../../assets/img/profil_abonne_icon-01.svg">
            </div>
          </div>
          <p>S'abonner</p>
      </div>

      <div class="btns_col ripple_effect" (click)="sendEmail()">
        <div class="bg_round">
          <div class="img_wrapper">
            <img src="../../assets/img/profil_contact_icon-02.svg">
          </div>
        </div>
        <p>Contactez-nous</p>
      </div>
      <div class="btns_col ripple_effect" (click)="goFaq()">
        <div class="bg_round">
          <div class="img_wrapper">
            <img src="../../assets/img/profil_faq_icon-03.svg">
          </div>
        </div>
        <p>F A Q</p>
      </div>
      <div class="btns_col ripple_effect" (click)="goCgu()">
        <div class="bg_round">
          <div class="img_wrapper">
            <img src="../../assets/img/profil_cgu_icon-04.svg">
          </div>
        </div>
        <p>Condition générales d'utilisation</p>
      </div>
    </div>
  </div>

  
  
  <ion-select [interfaceOptions]="customActionSheetOptions" style="display:none">
      <ion-select-option *ngFor="let ville of allVille" value="">{{ville.VI_VILLE}}</ion-select-option>
  </ion-select>
  
</ion-content>

<ion-content [ngStyle]="{'opacity' : mainOpac}" [forceOverscroll]="false" *ngIf="!ifHasConnection" color="secondary" class="mainContent noConnContent" [scrollEvents]="true" (ionScroll)="scrollEvent($event)" (touchmove)="pull($event)" (touchstart)="pullstart($event)" (touchend)="endpull()">
    <div class="no_connection">
      <img src="../../assets/img/no_connection.svg">
      <h1>Veuillez vous assurer que votre appareil est connecté au réseau.</h1>
    </div>
</ion-content>
