<div class="tab_header" [ngStyle]="{'top' : hideHeader}">
  <div *ngIf="tousClicked || initTousClicked" class="filter" (click)="openSelect('All')"><img src="../../assets/img/filter.svg"></div>
  <div *ngIf="toptenClicked" class="filter" (click)="openSelect('Top10')"><img src="../../assets/img/filter.svg"></div>
  <div *ngIf="presdemoiClicked" class="filter" (click)="openSelect('Presdemoi')"><img src="../../assets/img/filter.svg"></div>
  Drinks&nbsp;up
  <span (click)="openSearch()"><ion-icon name="search"></ion-icon></span>
</div>

<div *ngIf="ifHasConnection" class="freedrinkstab" [ngStyle]="{'top' : hideSubHeader}">
  <div (click)="tousLesBars()" [ngStyle]="{'color' : activeColor1}">Tous <span class="rippleEffect"></span></div>
  <div (click)="topten()" [ngStyle]="{'color' : activeColor2}">Top 10</div>
  <div (click)="presdemoi(myLat, myLong)" [ngStyle]="{'color' : activeColor3}">Près de moi</div>
  <span class="outline_bar" [ngStyle]="{'transform' : tabPosition, 'left' : leftPosition}"></span>
</div>

<!-- Custom Refresher Start -->
<div class="cpr_frontdrop" [ngStyle]="{'display' : popFD}"></div>
<div class="cp_refresher_wrapper" [ngClass]="{double_header : ifHasConnection}" [ngStyle]="{'transform' : posY, 'transition' : animDur}">
  <div class="custom_pull_refresher" [ngStyle]="{'opacity' : cuspulrefOpac}"><img src="../../assets/img/custom_pull_refresher_arrow.svg" [ngStyle]="{'animation' : rotate}"></div>
</div>
<!-- Custom Refresher End -->

<div class="loader_wrapper" [ngStyle]="{'display' : popSpinner}">
  <div class="loader"></div>
</div>

<ion-content [ngStyle]="{'opacity' : mainOpac}" [forceOverscroll]="true" *ngIf="ifHasConnection" color="secondary" class="mainContent" [scrollEvents]="true" (ionScroll)="scrollEvent($event)" (touchmove)="pull($event)" (touchstart)="pullstart($event)" (touchend)="endpull()">
  
  <div class="ion_content_wrapper">
      <ion-list *ngFor="let bars of Filtereditems; let i = index; let number = index">
          <ion-item no-padding color="secondary" lines="none">
            <img *ngIf="!ifFave(bars.ENT_ID)" src="../../assets/img/star-icon-empty.svg" class="star" (click)="addRemoveFave(i, bars.ENT_ID)" id="starIconId3_{{i}}">
            <img *ngIf="ifFave(bars.ENT_ID)" src="../../assets/img/star-icon-filled.svg" class="star" (click)="addRemoveFave(i, bars.ENT_ID)" id="starIconId3_{{i}}">
            <div class="img_curtain_black" [ngClass]="{'isLoaded': bars.ENT_PRELOAD_NAME === true}" [ngStyle]="{'display' : ifLoadedAlready}"></div>
            <div (click)="moveToBar(bars.ENT_ID)" class="img-overlay"></div>
            <img (click)="moveToBar(bars.ENT_ID)" (load)="bars.ENT_PRELOAD_NAME=true; displayNone()" class="bar-img" [src]="uplPhotoURI + bars.ENT_NOM + '_1.jpg?ran=' + random"  [id]="'offset_'+i">
            <div (click)="moveToBar(bars.ENT_ID)" class="bar-details">
              <div class="off_desc"><ion-icon src="../../assets/img/bars_icon.svg"></ion-icon>&nbsp;<p>{{bars.ENT_NOM}}</p></div>
              <p class="ent_nom"><ion-icon name="pin"></ion-icon>&nbsp;{{bars.ENT_ADRESSE}}</p>
              <p *ngIf="showRank" class="ent_rank"><ion-icon src="../../assets/img/rank_icon.svg"></ion-icon>&nbsp;<span>Top&nbsp;{{bars.ranking}}</span></p>
              <p *ngIf="showDistance" class="ent_distance">~{{bars.DistanceFromUser.toFixed(2)}}&nbsp;km</p>
            </div>  
          </ion-item>
      </ion-list>
  </div>

  <ion-select #tousFilter placeholder="Select One" [interfaceOptions]="customActionSheetOptions" style="display:none" (ionChange)="filterTous($event)">
    <ion-select-option value="all">Tous</ion-select-option> 
    <ion-select-option *ngFor="let cat of allCategories" value="{{cat.CAT_DESC}}">{{cat.CAT_DESC}}</ion-select-option>
  </ion-select>

  <ion-select #tousTopTen placeholder="Select One" [interfaceOptions]="customActionSheetOptions" style="display:none" (ionChange)="filterTopTen($event)">
    <ion-select-option value="all">Tous</ion-select-option> 
    <ion-select-option *ngFor="let cat of allCategories" value="{{cat.CAT_DESC}}">{{cat.CAT_DESC}}</ion-select-option>
  </ion-select>

  <ion-select #tousPresDeMoi placeholder="Select One" [interfaceOptions]="customActionSheetOptions" style="display:none" (ionChange)="filterPresDeMoi($event, myLat, myLong)">
    <ion-select-option value="all">Tous</ion-select-option> 
    <ion-select-option *ngFor="let cat of allCategories" value="{{cat.CAT_DESC}}">{{cat.CAT_DESC}}</ion-select-option>
  </ion-select>

  <p *ngIf="noBarFilter" class="pasDeDonnee"><ion-icon name="information-circle"></ion-icon>&nbsp;&nbsp;Pas de bar dans cette catégorie</p>
  <p *ngIf="Filtereditems === undefined" class="pasDeDonnee"><ion-icon name="information-circle"></ion-icon>&nbsp;&nbsp;Veuillez autoriser Drinks Up à accéder à votre position.</p>

</ion-content>


<ion-content [ngStyle]="{'opacity' : mainOpac}" [forceOverscroll]="false" *ngIf="!ifHasConnection" color="secondary" class="mainContent noConnContent" [scrollEvents]="true" (ionScroll)="scrollEvent($event)" (touchmove)="pull($event)" (touchstart)="pullstart($event)" (touchend)="endpull()">
    <div class="no_connection">
      <img src="../../assets/img/no_connection.svg">
      <h1>Veuillez vous assurer que votre appareil est connecté au réseau.</h1>
    </div>
</ion-content>