<ion-header>
  <ion-toolbar color="primary" >
    <ion-title>
      <span (click)="popYears()">{{chosenYear}}&nbsp;<ion-icon name="arrow-dropdown"></ion-icon></span>Mes Stats
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="custom_backdrop" id="bckdrop"></div>
<div class="custom_modal_wrapper_2" id="cmw2">
  <div class="custom_modal_2" id="cm2">
    <header>Choisissez l'année</header>
    <section>
      <div *ngFor="let yr of years" (click)="changeYear(yr.AN_ANNEE)">
        <p>{{yr.AN_ANNEE}}</p>
      </div>
    </section>
    <footer (click)="closeModal()">Annuler</footer>
  </div>
</div>


<div class="custom_modal_wrapper" id="cmw">
  <div class="custom_modal" id="cm">
    <header>Info sur l'offre du jour</header>
    <section>
      <span>
        <p>Description</p>
        <p>Nb code scanné</p>
      </span>
      <div *ngFor="let details of scannedCodesDetails" >
        <p *ngIf="!noDataForMoreDetails">{{details.offDesc}}</p>
        <p *ngIf="!noDataForMoreDetails">{{details.nbOffre}}</p>
        <p *ngIf="noDataForMoreDetails">Pas de donnée</p>
      </div>
    </section>
    <footer (click)="closeModal()">OK</footer>
  </div>
</div>

<ion-content color="secondary">
  <div class="months_wrapper"  id="m_w">
      <div class="months" *ngFor="let mois of lesMois"  id="months_{{mois.num}}">
          <section class="months_header" id="mh_{{mois.num}}">
              <p>{{mois.nom}}</p>
              <span (click)="expand(mois.num)" class="plus_icon" id="plusIcon_{{mois.num}}">PLUS</span>
          </section>
          <section class="months_body" id="mb_{{mois.num}}">
            <span *ngFor="let scannedCodes of scannedCodesByDate" (click)="moreDetails(scannedCodes.dateScan)" class="scanCode_row">
              <p *ngIf="scannedCodesByDate!==null">
                <ion-datetime [readonly]="true" day-names="Dimanche, Lundi, Mardi, Mercredi, Jeudi, Vendredi, Samedi" month-names="Janvier, Février, Mars, Avril, Mai, Juin, Juillet, Août, Septembre, Octobre, Novembre, Décembre" displayFormat="DDDD, DD MMMM" value="{{scannedCodes.dateScan}}"></ion-datetime>
                <span>Nb de scan : {{scannedCodes.nbOffre}}&nbsp;&nbsp;&nbsp;<ion-icon name="information-circle"></ion-icon></span>
              </p>
            </span>

            <span class="totalScanned" *ngFor="let total of totScanned">
              <p *ngIf="totScanned!==null && scannedCodesByDate!==null">Total : {{total.totalScanned}}</p>
            </span>
            <p *ngIf="scannedCodesByDate===null">{{noScannedMonth}}</p>
          </section>
      </div>
  </div>
  <!-- <div *ngFor="let stat of stats" >
    <p class="text">
     <span>Nombre de QrCode scanné :</span>&nbsp;{{stat.nbOffre}} ( {{stat.Mois}} ) 
    </p>
  </div>
  <p *ngIf="statUser===null || statUser===undefined" class="text">
    Pas de donnée
  </p>

  <div class="chart_wrapper">
    <span class="y_legend">Nombre de code scanné</span>
    <span class="max">{{maxClick}}</span>
    <span class="zero">0</span>
    <div class="chart_box">
        <div *ngFor="let stat of stats" class="graph_wrapper">
          <div class="graph" [ngStyle]="{'height' : (stat.nbOffre/maxClick)*100+'%'}">
            {{stat.nbOffre}}
            <span>{{stat.Mois}}</span>
          </div>
        </div>
    </div>

    <div class="grid_wrapper">
      <span class="grid"></span>
      <span class="grid"></span>
      <span class="grid"></span>
      <span class="grid"></span>
      <span class="grid"></span>
      <span class="grid"></span>
      <span class="grid"></span>
      <span class="grid"></span>
      <span class="grid"></span>
      <span class="grid"></span>
    </div>
  </div> -->

</ion-content>
