<div *ngIf="showBanner" class="banner_for_non_subscribed" [ngStyle]="{'transform' : bannerSlidDown}">
  <div class="bfns_content_wrapper">
    <img src="../../assets/img/offers_icon.svg">
    <h1>Abonnez-vous dès maintenant afin de profiter des avantages de Drinks Up.</h1>
    <ion-button expand="block" (click)="goAbo()">S'ABONNER</ion-button>
  </div>
</div>

<div class="tab_header"><div class="filter" (click)="openSelect()"><img src="../../assets/img/filter.svg"></div>Boissons Offertes</div>
<!-- Custom Refresher Start -->
<div class="cpr_frontdrop" [ngStyle]="{'display' : popFD}"></div>
<div class="cp_refresher_wrapper" [ngStyle]="{'transform' : posY, 'transition' : animDur}">
  <div class="custom_pull_refresher"><img src="../../assets/img/custom_pull_refresher_arrow.svg" [ngStyle]="{'animation' : rotate}"></div>
</div>
<!-- Custom Refresher End -->

<!-- <div class="loader_wrapper" [ngStyle]="{'display' : popSpinner}">
  <div class="loader"></div>
</div> -->

<div class="loading_screen_abonne" [ngStyle]="{'opacity' : curtain_fade, 'display' : curtain_hide}">
  <div class="spinner_wrapper"><div class="spinner" [ngStyle]="{'opacity' : spinner_fade}"></div></div>
</div>

<ion-content [ngStyle]="{'opacity' : mainOpac}" [forceOverscroll]="true" *ngIf="ifHasConnection" color="secondary" class="mainContent" [scrollEvents]="true" (ionScroll)="scrollEvent($event)" (touchmove)="pull($event)" (touchstart)="pullstart($event)" (touchend)="endpull()">

  <div class="ion_content_wrapper">
    <p *ngIf="Filtereditems===null" class="pasDoffre"><ion-icon name="information-circle"></ion-icon>&nbsp;&nbsp;Il n'y a pas d'offre pour le moment</p>

  <ion-list *ngFor="let bars of Filtereditems; let i = index">
    <ion-item no-padding color="secondary" lines="none">
        <div class="bubbles-wrapper" [class.displayBubbles]="disBub" [ngStyle]="{'z-index' : zindex}">
          <div class="bubbles"><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="img_curtain_black" [ngClass]="{'isLoaded': bars.ENT_PRELOAD_NAME === true}" [ngStyle]="{'display' : ifLoadedAlready}"></div>
        <div (click)="moveToBar(bars.ENT_ID, bars.OFF_ID)" class="img-overlay"></div>
        <img (click)="moveToBar(bars.ENT_ID, bars.OFF_ID)" (load)="bars.ENT_PRELOAD_NAME=true; displayNone()" class="bar-img" [src]="uplPhotoURI + bars.ENT_NOM + '_'+ randomImgNo +'.jpg?ran=' + random"  [id]="'offset_'+i">
        <div (click)="moveToBar(bars.ENT_ID, bars.OFF_ID)" class="bar-details">
          <div class="off_desc"><ion-icon src="../../assets/img/offres_icon.svg"></ion-icon>&nbsp;<p>{{bars.OFF_DESCRIPTION.charAt(0).toUpperCase()}}{{bars.OFF_DESCRIPTION.substring(1)}}</p></div>
          <p class="ent_nom"><ion-icon name="pin"></ion-icon>&nbsp;Chez&nbsp;{{bars.ENT_NOM}}</p>
          <!-- <p id="countdown_{{bars.OFF_ID}}" class="countdown">{{countdownText}}</p> -->
          <p class="day_of_the_week"><ion-icon name="calendar"></ion-icon>&nbsp;&nbsp;<ion-datetime [readonly]="true" day-names="Dimanche, Lundi, Mardi, Mercredi, Jeudi, Vendredi, Samedi" displayFormat="DDDD" value="{{bars.OFF_DATEDEBUT}}"></ion-datetime>&nbsp;-&nbsp;<ion-datetime [readonly]="true" displayFormat="DD.MM" value="{{bars.OFF_DATEDEBUT}}"></ion-datetime></p>
        </div>  
        </ion-item>
    </ion-list>

    <ion-select placeholder="Select One" [interfaceOptions]="customActionSheetOptions"  style="display:none" (ionChange)="filterByDay($event)">
        <ion-select-option [selected]="true" value="all">Tous</ion-select-option>
        <ion-select-option *ngFor="let jour of joursDeLaSemaine" value="{{jour.num}}">{{jour.nomFr}}</ion-select-option>
    </ion-select>
  </div>
</ion-content>

<ion-content [ngStyle]="{'opacity' : mainOpac}" [forceOverscroll]="false" *ngIf="!ifHasConnection" color="secondary" class="mainContent noConnContent" [scrollEvents]="true" (ionScroll)="scrollEvent($event)" (touchmove)="pull($event)" (touchstart)="pullstart($event)" (touchend)="endpull()">
    <div class="no_connection">
      <img src="../../assets/img/no_connection.svg">
      <h1>Veuillez vous assurer que votre appareil est connecté au réseau.</h1>
    </div>
</ion-content>