<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Boissons Offertes</ion-title>
  </ion-toolbar>
</ion-header> -->
<div class="tab_header" [ngStyle]="{'top' : hideHeader}"><div class="filter" (click)="openSelect()"><img src="../../assets/img/filter.svg"></div>Boissons Offertes</div>
<!-- <div class="freedrinkstab" [ngStyle]="{'top' : hideSubHeader}">
  <div (click)="tous()" [ngStyle]="{'color' : activeColor1}">Tous <span class="rippleEffect"></span></div>
  <div (click)="encours()" [ngStyle]="{'color' : activeColor2}">En cours</div>
  <div (click)="imminent()" [ngStyle]="{'color' : activeColor3}">Imminent</div>
  <span class="outline_bar" [ngStyle]="{'transform' : tabPosition, 'left' : leftPosition}"></span>
</div> -->

<ion-content color="secondary" [scrollEvents]="true" (ionScroll)="scrollEvent($event)">
  <ion-list *ngFor="let bars of Filtereditems; let i = index">
    <ion-item no-padding color="secondary" lines="none">
        <div class="bubbles-wrapper" [class.displayBubbles]="disBub" [ngStyle]="{'z-index' : zindex}">
          <div class="bubbles"><div></div><div></div><div></div><div></div></div>
        </div>
        <!-- <div class="img_overlay_black" id="imgOverlay_{{i}}"></div> -->
        <div (click)="moveToBar(bars.ENT_ID, bars.OFF_ID)" class="img-overlay"></div>
        <img (click)="moveToBar(bars.ENT_ID, bars.OFF_ID)" class="bar-img" [src]="uplPhotoURI + bars.ENT_NOM + '_'+ randomImgNo +'.jpg?ran=' + random"  [id]="'offset_'+i">
        <div (click)="moveToBar(bars.ENT_ID, bars.OFF_ID)" class="bar-details">
          <ion-ripple-effect></ion-ripple-effect>
          <p class="off_desc"><ion-icon src="../../assets/img/offres_icon.svg"></ion-icon>&nbsp;{{bars.OFF_DESCRIPTION}}</p>
          <p class="ent_nom">Chez {{bars.ENT_NOM}}</p>
          <!-- <p id="countdown_{{bars.OFF_ID}}" class="countdown">{{countdownText}}</p> -->
          <p class="day_of_the_week"><ion-icon name="calendar"></ion-icon>&nbsp;&nbsp;<ion-datetime [readonly]="true" day-names="Dimanche, Lundi, Mardi, Mercredi, Jeudi, Vendredi, Samedi" displayFormat="DDDD" value="{{bars.OFF_DATEDEBUT}}"></ion-datetime></p>
        </div>  
      </ion-item>
  </ion-list>

  <ion-select placeholder="Select One" [interfaceOptions]="customActionSheetOptions" style="display:none" (ionChange)="filterByDay($event)">
      <ion-select-option value="all">Tous</ion-select-option>
      <ion-select-option *ngFor="let jour of joursDeLaSemaine" value="{{jour.num}}">{{jour.nomFr}}</ion-select-option>
  </ion-select>

  <p *ngIf="noOffer" class="pasDoffre">Aucune</p>

</ion-content>
