ion-content{
    --background: #161616;
}

ion-toolbar{
    --background: #1d1d1d;
    ion-button{
        font-family: "NBO";
        font-size: 17px !important;
        text-transform: capitalize !important;
        color: rgb(180, 180, 180) !important;
    }
}

.close-header{
    width: 100%;
    text-align: right;
    ion-icon{
        color: #fff;
        font-size: 1rem;
    }

}

.star-row-wrapper{
    margin: 2rem 0;
}
.star-row{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .beer-wrapper{
        width: 16%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;

        img{
            width: 80%;
        }
    }
    .empty-beer{
        width: 30px;
        position: relative;
        z-index: 4;
    }

    .mousse{
        position: absolute;
        width: 30px !important;
        bottom: 0;
        transition: all .5s ease-out;
        z-index: 3;
    }

    .liquid{
        position: absolute;
        background-color: #f4b22f;
        height: 0px;
        width: 16px;
        bottom: 0;
        transition: all .5s ease-out; 
        z-index: 1;
    }
}

h1{
    font-family: "NBL";
    font-size: 18px !important;
    color: #fff !important;
}

p{
    font-family: "NBO" !important;
    font-size: 15px !important;
    color: rgb(184, 184, 184) !important;
}
