<div class="tab_header"><div class="aujourdhui" (click)="today()">Aujourd'hui</div> <div class="rightside_title">{{viewTitle}}</div></div>


<!-- Custom Refresher Start -->
<div class="cpr_frontdrop" [ngStyle]="{'display' : popFD}"></div>
<div class="cp_refresher_wrapper" [ngStyle]="{'transform' : posY, 'transition' : animDur}">
  <div class="custom_pull_refresher"><img src="../../assets/img/custom_pull_refresher_arrow.svg" [ngStyle]="{'animation' : rotate}"></div>
</div>
<ion-content [ngStyle]="{'opacity' : mainOpac}" [forceOverscroll]="false" *ngIf="ifHasConnection" color="secondary" class="mainContent" [scrollEvents]="true" (ionScroll)="scrollEvent($event)" (touchmove)="pull($event)" (touchstart)="pullstart($event)" (touchend)="endpull()">

  <ion-card >
    <ion-card-header tappable (click)="collapseCard = !collapseCard">
      <ion-card-title style="font-family: 'NBL'; color: #fff; margin: 25px 0; font-size : 1rem;">Nouvelle offre</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="!collapseCard">
  
      <ion-item color="secondary" style="margin: 15px 0">
        <ion-input style="font-family: 'NBL'; color: #fff; font-size : .9rem;" type="text" placeholder="Description" class="descriptInput" [(ngModel)]="event.description"></ion-input>
      </ion-item>
      <ion-item color="secondary" style="margin-bottom: 15px">
        <ion-label style="font-family: 'NBL'; color: rgb(133, 133, 133); font-size : .9rem;">Date de début</ion-label>
        <ion-datetime style="font-family: 'NBO'; color: #fff; font-size : .9rem;" displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD/MM/YYYY HH:mm" minuteValues="00,15,30,45" [(ngModel)]="event.startTime"></ion-datetime>
      </ion-item>
      <ion-item color="secondary" style="margin-bottom: 15px">
        <ion-label style="font-family: 'NBL'; color: rgb(133, 133, 133); font-size : .9rem;">Date de fin</ion-label>
        <ion-datetime style="font-family: 'NBO'; color: #fff; font-size : .9rem;" displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD/MM/YYYY HH:mm" minuteValues="00,15,30,45" [(ngModel)]="event.endTime"></ion-datetime>
      </ion-item>
      <ion-button class="add_event_button add_event_button_valid"  (click)="addEvent()" *ngIf="event.description !='' && event.endTime > event.startTime">Ajouter l'offre</ion-button>
      <ion-button class="add_event_button" (click)="addEventError()" *ngIf="event.description =='' || event.endTime < event.startTime">Ajouter l'offre</ion-button>
    </ion-card-content>
  </ion-card>
  
  <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <div style="margin: 20px 0 8px 0">
      <p style="font-family: 'NBL'; font-size: 1em; color: rgb(189, 189, 189); margin-top: 0; margin-bottom: 10px; margin-left: 12px">Vos offres : </p>
      <p style="font-family: 'NLI'; font-size: .8em; color: gray; margin-top: 0; margin-bottom: 5px; margin-left: 12px"><ion-icon name="information-circle-outline"></ion-icon>&nbsp;Glissez l'offre vers la droite pour suprimmer.</p>
      <p style="font-family: 'NLI'; font-size: .8em; color: gray; margin-top: 0; margin-bottom: 0; margin-left: 12px"><ion-icon name="information-circle-outline"></ion-icon>&nbsp;Cliquez sur l'offre pour plus d'informations.</p>
    </div>

    <div *ngIf="selectedDate?.events.length==0" style="width: 100%; height: 50px; color: rgb(170, 170, 170); display : flex; align-items: center; background-color: #202021; padding: 0 16px">
        <ion-icon name="information-circle-outline"></ion-icon>&nbsp;&nbsp;<span style="font-family : 'NBL'; color: rgb(170, 170, 170)">Pas d'offre pour ce jour</span>
    </div>

    <ion-list style="background: #070708">
      <ion-item-sliding *ngFor="let event of selectedDate?.events" #slidingItem>
         
        <ion-item (click)="eventSelected(event)" lines="none">

          <div *ngIf="event.actif ==='Non' && event.endTime<ojd" [ngStyle]="{'color' : mostInvalidColor}" class="item-content" style="width: 100%; height: 100%; display : flex; align-items: center">
              <ion-icon name="alert" style="font-size: 1.5em"></ion-icon>&nbsp;&nbsp;{{event.startTime|date: 'HH:mm'}} - {{event.endTime|date: 'HH:mm'}}&nbsp;&nbsp;<span style="font-family : 'NBL'">{{event.description}}</span>&nbsp;<i style="font-size: .9em">(Dépassée)</i>
          </div>

          <div *ngIf="event.actif ==='Non' && event.endTime>ojd" [ngStyle]="{'color' : invalidColor}" class="item-content" style="width: 100%; height: 100%; display : flex; align-items: center">
            <ion-icon name="alert" style="font-size: 1.5em"></ion-icon>&nbsp;&nbsp;{{event.startTime|date: 'HH:mm'}} - {{event.endTime|date: 'HH:mm'}}&nbsp;&nbsp;<span style="font-family : 'NBL'">{{event.description}}</span>
          </div>

          <div *ngIf="event.actif ==='Oui' " [ngStyle]="{'color' : validColor}" class="item-content" style="width: 100%; height: 100%; display : flex; align-items: center">
              <ion-icon name="checkmark-circle" style="font-size: 1.5em"></ion-icon>&nbsp;&nbsp;{{event.startTime|date: 'HH:mm'}} - {{event.endTime|date: 'HH:mm'}}&nbsp;&nbsp;<span style="font-family : 'NBL'">{{event.description}}</span>
          </div>

          
          

        </ion-item>
        <ion-item-options side="start">
          <ion-item-option  (click)="delete(slidingItem, event.idOffre, event.description)"><ion-icon style="color:rgb(192, 0, 0)" name="trash"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </ng-template>
  <calendar [eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            [monthviewEventDetailTemplate]="template"
            (onRangeChanged)="reloadSource(startTime, endTime)"
            (onTitleChanged)="onViewTitleChanged($event)"
            (onTimeSelected)="onTimeSelected($event)"
            step="30"
            startingDayWeek="1">
  </calendar>
</ion-content>

<ion-content [ngStyle]="{'opacity' : mainOpac}" [forceOverscroll]="false" *ngIf="!ifHasConnection" color="secondary" class="mainContent noConnContent" [scrollEvents]="true" (ionScroll)="scrollEvent($event)" (touchmove)="pull($event)" (touchstart)="pullstart($event)" (touchend)="endpull()">
  <div class="no_connection">
    <img src="../../assets/img/no_connection.svg">
    <h1>Veuillez vous assurer que votre appareil est connecté au réseau.</h1>
  </div>
</ion-content>


