ion-content{
    --background: #161616;
    h1{
        height: 52px;
        width: 100%;
        color: rgba(255,255,255,.85);
        font-family: "NBL";
        font-size: .85rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 24px;
        background: #161616;
        margin: 0;
        text-align: justify;
        text-align-last: left;
    }

    section{
        height: 120px;
        width: 100%;
        padding: 0px 24px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

        h2{
            margin: 0;
            font-family: "NBO";
            font-size: .9em;
            color: rgba(255, 255, 255, 0.6);
        }
    }

    footer{
        padding: 0 8px;
        height: 52px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #161616;
        span{
            padding: 0px 16px;
            color: rgba(255,255,255,.85);
            font-family: "NBL";
            font-size: .85rem;
        }
    }
}
