<div class="header-solid">
  <div class="hs-button" (click)="retour()"><img src="../../assets/img/back-arrow-icon.svg"> retour</div>
</div>

<ion-content padding color="secondary">
    <h3>Qu’est-ce que les niveaux de fidélité chez Drinks up ?</h3>
    <p>Lorsque vous utilisez votre application et que vous profitez d’offres, cela vous permet d’engranger des points et de passer des niveaux. Chaque utilisateur a son propre niveau qui évolue en fonction d’actions effectuées sur la plateforme. Vous pourrez profiter d’avantages exclusifs en atteignant les différents niveaux.</p>

    <h3 class="small">Les différents niveaux chez Drinks up :</h3>
    <ol>
      <li>Débutant</li>
      <li>Petit joueur</li>
      <li>Habitué</li>
      <li>Connaisseur</li>
      <li>Bartender</li>
      <li>Ambassadeur</li>
      <li>Lord of the drink</li>   
    </ol>

    <h3>Quels sont les avantages obtenus ?</h3>
    <p>Le niveau <span>Débutant</span> est pour toute personne qui vient d’ouvrir un compte sur la plateforme Drinks up et qui ont souscris un abonnement.</p>
    <p>Le niveau <span>Petit joueur</span> est le premier niveau et aussi le plus facile à atteindre, il permet de bénéficier d’une réduction 5% sur le prochain abonnement (Quelle que soit la durée !)</p>
    <p>Le niveau <span>Habitué</span> permet une réduction de 10% sur votre prochain abonnement.</p>
    <p>Le niveau <span>Connaisseur</span> montre que vous n’êtes pas un nouveau venu et que vous connaissez bien l’application et le monde de Drinks up, c’est pourquoi cela vous permet de bénéficier d’une réduction de 30% sur votre prochain abonnement.</p>
    <p>Le niveau <span>Bartender</span> vous permet de recevoir en exclusivité un verre Drinks up.</p>
    <p>Le niveau <span>Ambassadeur</span> prouve que vous faites partie de la haute sphère privée de Drinks up et permettra donc de bénéficier d’une réduction de 50% sur votre prochain abonnement.</p>
    <p>Le niveau <span>Lord of the Drink</span> est le niveau ultime de Drinks up et permettra de recevoir une carte personnalisée ainsi que d’autres avantages exclusifs réservés à l’élite.</p>

    <h3>Conditions pour atteindre les niveaux :</h3>
    <h3 class="small second">Petit joueur</h3>
    <ul>
      <li>Être inscrit depuis 1 mois</li>
      <li>Avoir profité de 5 offres</li>
      <li>Avoir laissé 2 avis sur la page des partenaires</li>
      <li>Avoir mis une photo de profil</li>
    </ul>

    <h3 class="small second">Habitué</h3>
    <ul>
      <li>Être inscrit depuis 2 mois </li>
      <li>Avoir profité de 10 offres</li>
      <li>Avoir laissé 5 avis sur la page des partenaires</li>
    </ul>

    <h3 class="small second">Connaisseur</h3>
    <ul>
      <li>Être inscrit depuis 3 mois </li>
      <li>Avoir profité de 30 offres</li>
      <li>Avoir laissé 10 avis sur la page des partenaires</li>
      <li>Avoir parrainé un ami</li>
    </ul>

    <h3 class="small second">Bartender</h3>
    <ul>
      <li>Être inscrit depuis 6 mois </li>
      <li>Avoir profité de 50 offres</li>
      <li>Avoir laissé 15 avis sur la page des partenaires</li>
      <li>Avoir parrainé 3 amis</li>
    </ul>

    <h3 class="small second">Ambassadeur</h3>
    <ul>
      <li>Être inscrit depuis 9 mois </li>
      <li>Avoir profité de 80 offres</li>
      <li>Avoir laissé 20 avis sur la page des partenaires</li>
      <li>Avoir parrainé 5 amis</li>
    </ul>

    <h3 class="small second">Lord of the drink</h3>
    <ul>
      <li>Être inscrit depuis 12 mois </li>
      <li>Avoir profité de 120 offres</li>
      <li>Avoir laissé 30 avis sur la page des partenaires</li>
      <li>Avoir parrainé 8 amis</li>
    </ul>
    <br>
 </ion-content>
