.header-solid{
    background: rgb(7,7,8);
    background: linear-gradient(0deg, rgba(7,7,8,0) 0%, rgba(7,7,8,1) 100%); 
}

ion-content{
    --padding-top: 40px;
}

h3{
    margin-top: 40px;
    font-family: "NBL";
    font-size: 1.3rem;
    color: gray;
    text-transform: uppercase;
}

h5{
    margin-top: 40px;
    font-family: "NBL";
    font-size: 1.1rem;
}

p{
    font-family: "NBO";
    font-size: .9em;
    color: rgb(167, 167, 167);
    text-align: justify;
    text-align-last: left;
}